{% if title is defined %}
<div class="testimonial testimonial-{{ testimonial.orientation }} with-title"
     style="background-image: url({{ testimonial_base_url ~ testimonial.photo }})">
     <div class="row testimonial-title">
         {% if testimonial.orientation == 'left' %}
         <div class="small-12 columns text-right">
         {% else %}
         <div class="small-12 columns text-left">
         {% endif %}
         <div class="vertical-align">
             <div class="align-middle">
                 <h2>{{ title }}</h2>
             </div>
         </div>
         </div>
     </div>
{% else %}
<div class="testimonial testimonial-{{ testimonial.orientation }}"
     style="background-image: url({{ testimonial_base_url ~ testimonial.photo }})">
{% endif %}
    <div class="row">
        {% if testimonial.orientation == 'right' %}
            <div class="hide-for-small hide-for-medium large-3 columns">
                <div class="testimonial-table">
                    <div class="testimonial-cell">
                        <img src="{{ asset('bundles/geolidjob/img/common/quotes-testimonials-left.png')}}">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="hide-for-small medium-6 large-3 columns">&nbsp;
            </div>
        {% endif %}
        <div class="small-12 medium-6 columns">
            <div class="testimonial-table">
                <div class="testimonial-cell testimonial-words user-content">
                    {{ testimonial.quote|raw }}
                </div>
            </div>
        </div>
        {% if testimonial.orientation == 'left' %}
            <div class="hide-for-small hide-for-medium large-3 columns">
                <div class="testimonial-table">
                    <div class="testimonial-cell">
                        <img src="{{ asset('bundles/geolidjob/img/common/quotes-testimonials-right.png')}}">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="hide-for-small medium6 large-3 columns">&nbsp;
            </div>
        {% endif %}
    </div><!-- row -->
</div><!-- testimonial -->
