{% extends 'GeolidJobBundle::layout.' ~ country ~ '.html.twig' %}

{% block title %}{{ parent() }} - {{ 'apply_thanks.title'|trans }}{% endblock %}

{% block content %}
<section id="thanks-title" class="section-title notch-padding">
    <h1>{{ 'apply_thanks.title'|trans }}</h1>
</section>

<div class="notch">
    <div class="trapeze-right-white"></div>
    <div class="trapeze-left-white"></div>
</div>

<section id="apply-thanks" class="section-white notch-padding">

    <div class="row">
        <div class="small-12 columns">
        {{ cnerta_breadcrumb_render('breadcrumb') }}
        </div>
    </div>

    <div class="separator">
    </div>

    <div class="row">
        <div class="small-12 columns">
            {#Email Errer#}
        {#{{ 'apply_thanks.text'|trans({'%email%': email})|raw }}#}
        </div>
    </div>

    <div class="separator">
    </div>
    <div class="separator">
    </div>
    <div class="separator">
    </div>
    <div class="separator">
    </div>

</section><!-- apply-thanks -->
{% endblock %}
